nav ul {
  margin: 0px;
  vertical-align: top;
  display: inline-block;
}
nav ul li {
  margin: 0px;
  float: left;
  list-style-type: none;
}
nav ul li a {
  display: inline-block;
}
nav ul li a:hover {
  text-decoration: none;
}
nav ul li:hover {
  position: relative;
}
nav ul li:hover > ul {
  display: block;
  padding: 0px;
}
nav ul ul {
  top: 100%;
  left: 0%;
  min-width: 100%;
  display: none;
  position: absolute;
}
nav ul ul li {
  padding: 0px;
  width: 100%;
  border: none;
  text-align: center;
  line-height: 1em;
  float: none;
}
nav ul ul li > a {
  display: block;
  padding: 10px;
}
nav ul ul ul {
  top: 0;
  left: 100%;
}
